
section{
    page-break-after:always;
    page-break-before: always;
    /* background-color: aquamarine; */
}
.styleinput{
    background-color: transparent;
    border: none;
}
/* div{
    position: static;
} */