body{
    background-image: url("images/Aho.jpg") ;
}
div label{
    display: inline;
}
/* input {
    border: rgb(138, 129, 129);
    transition: width 2s;
    } */

/* input:hover {
    border: rgb(131, 106, 106) 3px;
    width: 500px;
} */
